@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Serif&display=swap');

body {
    background-color: rgb(43, 43, 43);
}

nav a {
    font-family: 'Merriweather', serif;
}

nav {
    background-color: black;
}

.logo {
    width: 80px;
}

.jumbotron {
    position: relative;
    background: url(https://busites_www.s3.amazonaws.com/acdccom/content/banners/4.jpg);
    background-size: cover;
}

.jumbotron>.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(83, 83, 83, 0.705);
    z-index: 1;
}

.jumbotron>.inner {
    position: relative;
    z-index: 2;
    padding: 40px;
}

h1, h2{
    font-family: 'Merriweather', serif;
}

a {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Merriweather', serif;
    font-family: 'PT Serif', serif;
}

h3, h5 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.col-text {
    color: rgb(185, 185, 185);
}

.album_image {
    width: 130px;
}

.media-body {
    color: rgb(185, 185, 185);
    font-family: 'Merriweather', serif;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

tbody{
    background-color: rgb(43, 43, 43);
}

@media(min-width:992px){
    .media {
        width: 400px;
        display: inline-block;
    }

    hr {
        display: none;
    }

    ul {
        text-align: center;
        width: 100%;
    }

    .media-body {
        text-align: left;
    }

    .table {
        width: 990px;
        margin: auto;
    }

    .album_image {
        width: 160px;
    }

}