#jumbotron1 {
    background-image: linear-gradient(to right, cornflowerblue 60%, pink 85%, cornsilk, lightgreen, orange);
}

#jumbotron2 {
    background-image: linear-gradient(0deg, cornflowerblue 55%, pink);
}

#jumbotron3 {
    background-image: radial-gradient(pink, rgb(98, 235, 212));
}

#jumbotron4 {
    background-image: repeating-linear-gradient(red 10%, yellow 20%, blue 30%);
}

#jumbotron5 {
    background-image: linear-gradient(hsl(174, 82%, 44%), hsl(47, 100%, 60%));
}


.field {
    min-height: 600px;
    background-color: hsl(332, 100%, 81%);

    position: relative;

}

.thing {
    width: 150px;
    height: 150px;
    background-color: hsl(0, 100%, 73%);
    border-radius: 50%;

    position: absolute;

    /* animation: myAnimation 4s 4; */
    animation: myAnimation 4s ease-in-out 1s infinite reverse;
}

@keyframes myAnimation {
    /* from {
        background-color: hsl(240, 100%, 73%);
    }
    to {
        background-color: hsl(49, 100%, 50%);
    } */


    0% {
        background-color: hsl(240, 100%, 73%);
        left: 0px;
        top: 0px;
    }

    /* 50% {
        background-color: hsl(49, 100%, 50%);
        left: calc(50% - 75px);
        top: calc(50% - 75px);;
    }

    100% {
        background-color: hsl(240, 100%, 73%);
        left: calc(100% - 150px);
        top: calc(100% - 150px);
    } */

    50% {
        background-color: hsl(49, 100%, 50%);
        left: calc(100% - 150px);
        top: calc(100% - 150px);
    }

    100% {
        background-color: hsl(240, 100%, 73%);
        left: 0px;
        top: 0px;
    }
}