@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

nav a {
    font-family: 'Roboto Mono', monospace;
}

main {
    margin-top: 65px;
    margin-right: 10px;
    margin-left: 10px;
}

.col-12 {
    padding: 50px 10px;
}

#col1 {
    background: url("https://www.google.com/search?q=switch&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiEvOjflMXkAhXeKDQIHRF2BYgQ_AUIFCgD&biw=1366&bih=572#imgrc=-5RFuEe9LfzVbM:");
}

@media(min-width:768px){
    #col1 {
        background-color: yellow;
    }
}